<?xml version="1.0" encoding="utf-8"?>
<HybridizerMetaConfigFile xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Configuration>
    <ReconstructLoops>false</ReconstructLoops>
  </Configuration>
  <ConfigFile HybridType="" DllFullPath="C:\Users\dmitr\source\repos\DiophantineZ_sharp\Hybrid\Hybrid\bin\x64\Debug\Hybrid.exe" PdbFullPath="C:\Users\dmitr\source\repos\DiophantineZ_sharp\Hybrid\Hybrid\bin\x64\Debug\Hybrid.pdb" ResultFileName="result.xml" GenerateLineInformation="true" UseFunctionPointers="true" GenerateAllFile="true" GenerateHiddenStubs="true" UseHybridArrays="false" EnableExceptions="false" Features="" DelegateSupport="false" LinesPerFile="0" HybridizerJitterServicePath="C:\Users\dmitr\AppData\Local\Microsoft\VisualStudio\15.0_a3d33afa\Extensions\kdtendbt.oyj\bin\Hybridizer.PTXJitterService.8.0.exe" HybridizerJitterServiceOptions="--gpu-architecture=auto;-G;--relocatable-device-code=false;-lineinfo;--std=c++11;-DNO_EXCEPTION">
    <TraceConfig>
      <MaxStackDumps>100</MaxStackDumps>
      <Enabled>false</Enabled>
      <StackOverflowThreshold>200</StackOverflowThreshold>
      <Level>2</Level>
    </TraceConfig>
    <HybridFlavor FlavorName="CUDA" GenerateCWrapper="false" BuiltInFileNames="C:\Users\dmitr\AppData\Local\Microsoft\VisualStudio\15.0_a3d33afa\Extensions\kdtendbt.oyj\include\hybridizer.cuda.builtins;" />
    <HybridElements HybridType="Hybrid.Program">
      <HybridizedMethod MethodName="Create_pre_basis" MethodRename="Hybridx46Programx46Create_pre_basis" ForceEntryPoint="true">
        <ParameterTypes>
          <string>System.Int32[]</string>
          <string>System.Int32[][]</string>
          <string>System.Int32</string>
          <string>System.Int32[]</string>
        </ParameterTypes>
      </HybridizedMethod>
      <HybridizedMethod MethodName="Substitute" MethodRename="Hybridx46Programx46Substitute" ForceEntryPoint="true">
        <ParameterTypes>
          <string>System.Int32[]</string>
          <string>System.Int32[][]</string>
          <string>System.Int32[]</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
        </ParameterTypes>
      </HybridizedMethod>
      <HybridizedMethod MethodName="Multiply_pre_basis" MethodRename="Hybridx46Programx46Multiply_pre_basis" ForceEntryPoint="true">
        <ParameterTypes>
          <string>System.Int32[][]</string>
          <string>System.Int32[][]</string>
          <string>System.Int32[][]</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
        </ParameterTypes>
      </HybridizedMethod>
      <HybridizedMethod MethodName="Simplify" MethodRename="Hybridx46Programx46Simplify" ForceEntryPoint="true">
        <ParameterTypes>
          <string>System.Int32[][]</string>
          <string>System.Int32[]</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
        </ParameterTypes>
      </HybridizedMethod>
      <HybridFlavor FlavorName="CUDA" OutputFileName="Hybrid.Program.cu" GenerateCWrapper="true" BuiltInFileNames="C:\Users\dmitr\AppData\Local\Microsoft\VisualStudio\15.0_a3d33afa\Extensions\kdtendbt.oyj\include\hybridizer.cuda.builtins;" />
    </HybridElements>
    <DisplayLicenseDetails>false</DisplayLicenseDetails>
  </ConfigFile>
</HybridizerMetaConfigFile>